
@{
    ViewBag.Title = "ViewData";
}

@model Mini_DBMS.Models.Table

<table class="table">
    <thead>
        <tr>
            @foreach (var field in @Model.Fields)
            {
                <th>@field.Name</th>
            }
        </tr>
    </thead>
</table>

<input type="button" value="Insert" onclick="location.href='@Url.Action("_AddData", "Home", new {tableName = Model.Name})'" />
<input type="button" value="Delete" onclick="location.href='@Url.Action("_DeleteData", "Home", new {tableName = Model.Name})'" />


